@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@500&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --nav-width: 70px;

  /*===== Colors =====*/
  --first-color: #1E90FF;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;

  /*===== Font and typography =====*/
  --body-font: 'Raleway', sans-serif;

  --normal-font-size: 1 rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  background-color: #e2ebf4;
}

a {
  text-decoration: none;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s;
  position: fixed;
}

.header__toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img {
  width: 40px;
}

/*===== NAV =====*/
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #1E90FF;
  padding: 6px 14px;
  z-index: 101;
  transition: all 0.5s ease;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 1;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 1;
  transition: all 0.5s ease;
  margin-left: 15px;
  overflow: hidden;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #1E90FF;
}

.sidebar li a:hover {
  background: #02396f;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 1;
  pointer-events: none;
  transition: 0.4s;
  margin-left: 15px;
  overflow: hidden;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #fff;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  transition: all 0.5s ease;
}

.sidebar.open li.profile {
  width: 205px;
}

.modal {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: #02396f;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #ffffff;
}

.modal-header i {
  font-size: 30px;
}

.titulo-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.formModal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-inputs label {
  color: white;
  margin-top: 10px;
}

.form-inputs input {
  width: 280px;
  height: 35px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0.4rem 0.8rem #0005;
  font-size: 1.2em;
  background-color: #fff;
}

.colunaForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#inputName,
#inputEmail {
  width: 440px;
}

.colunaForm #inputCpf,
#inputRg,
#inputTelefone,
#inputCep,
#inputPet,
#inputAltura,
#inputPeso,
#inputPelagem,
#inputPorte {
  width: 210px;
}

.colunaForm #inputBairro {
  width: 170px;
}

.colunaForm #inputUf,
.colunaForm #inputN_Casa {
  width: 70px;
}

.colunaForm #inputRua {
  width: 400px;
}

.colunaForm #inputCidade {
  width: 220px;
}

.colunaForm #inputDataNascimento {
  width: 140px;
}

.colunaForm #inputSexo {
  width: 50px;
}

.selectCampo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.modal-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modal-footer button {
  background-color: #e2ebf4;
  padding: 0.6rem 1.2rem;
  color: #02396f;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  opacity: 0.9;
  font: bold;
  font-size: 1.2rem;
}

.modal-footer button i {
  margin-right: 5px;
}

.modal-footer button:hover {
  transition: 1s;
  background-color: #0005;
  color: white;
}

.modal-footer .confirm {
  background-color: #02396f;
  color: white;
}

.close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
}

.close:hover {
  color: #0005;
  transition: 1s;
}

#inputCep {
  padding-right: 40px;
  /* Espaçamento para o botão */
}

.btn-pesquisar {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 1em;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 20px;
}

/* ===== MEDIA QUERIES=====*/

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }


  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img {
    width: 40px;
    height: 40px;
  }

  .header__img img {
    width: 45px;
  }

  /*Show navbar desktop*/
  .open {
    width: calc(var(--nav-width) + 136px);
  }

  /*Add padding body desktop*/
  .body-pd {
    padding-left: calc(var(--nav-width) + 160px);
  }
}

@media screen and (max-width: 750px) {

  .sidebar {
    transform: translate(-100%);
  }

  .sidebar.open {
    transform: translateX(0.1%);
  }

  .sidebar.open li.profile {
    width: 78px;
  }

  i.bx-x {
    margin-left: 80px;
    transition: all 0.5s ease;
  }

  i {
    transition: all 0.5s ease;
  }

  .colunaForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .colunaForm #inputCpf,
  .colunaForm #inputRg,
  .colunaForm #inputTelefone,
  .colunaForm #inputEmail,
  #inputName,
  .colunaForm #inputCep,
  .colunaForm #inputCidade,
  .colunaForm #inputUf,
  .colunaForm #inputBairro,
  .colunaForm #inputRua,
  .colunaForm #inputN_Casa,
  .colunaForm #inputPet,
  .colunaForm #inputDataNascimento,
  .colunaForm #inputSexo,
  .colunaForm #inputAltura,
  .colunaForm #inputPeso,
  .colunaForm #inputEspecie,
  .colunaForm #inputPelagem,
  .colunaForm #inputRaca,
  .colunaForm #inputPorte,
  .select2-container .select2-selection,
  #select-tutor.selectTutor+.select2-container .select2-selection {
    width: 300px;
  }

  .modal-footer {
    gap: 20px;
  }

  #inputCep {
    padding-right: 40px;
    /* Espaçamento para o botão */
  }

  .btn-pesquisar {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 75px;
    margin-left: 260px;
    padding: 10px;
  }
}

@media screen and (max-width: 350px) {
  #modal {
    position: absolute;
    margin-top: 3rem;
  }
}
